.Title {
  background: #FFFFFF;
  height: 50px;
  text-align: left;
  margin: auto;
  font-size: 1rem;
}

.NavbarItems {
  background: #FFFFFF;
  height: 80px;
  display: table;
  margin: 0 auto;
  justify-content: left;
  align-items: left;
  font-size: 1.2rem;
  width: 75%;
  text-align: left;

}

.navbar-logo {
  justify-self: start;
  cursor: pointer;
  display: table;
  margin: 0 auto;
}

.logo {
  width: 230px;
}

.nav-menu {
  grid-gap: 50px;
  list-style: none;
  text-align: center;
  justify-content: end;
  font-size: 25px;
  margin: auto;
  width: 100%;
  padding:1%;
  border-top: 1px solid #63a8e9;
  border-bottom: 1px solid #63a8e9;
  border-top-width: medium;
  border-bottom-width: medium;

}

.nav-links {
  color: rgb(73, 73, 73);
  text-decoration: none;
  display: table;
  margin: 0 auto;
  padding:2%;
}

.nav-links-clicked {
  color: white;
  background-color: red;
  text-decoration: none;
  border-radius: 4px;
}

.nav-links:hover {
  color: white;
  background-color: red;
  text-decoration: none;
  border-radius: 4px;
  transition: all 0.2s ease-out;
}

